<strong>Olá {{ deliveryman }}</strong>
<p>A entrega foi cancelada!</p>
<p>
  <strong>Data e hora do cancelamento: </strong> {{ date }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }}
</p>
